/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: proximanova_regular;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #162831;
	color: white;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #fff}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

section{width: 100%}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;color: white;}
/*--------------------*/

.container{
	width: 1296px;
	margin: 0 auto;
}

.menu{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.menu-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 655px;
}

.menu-items{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	height:auto;
	width: auto;
	
}

.menu-items a:hover{
	font-size: 17px;
	/*padding: 0 5px ;*/

	animation: menu-item__animation 2s linear 2s infinite;
}

.menu a{
	font-size: 14px;

}

.menu-items__outline{
	display: block;
	width: 2px;
	height: 10px;
	background-color: #fff;

	
}

.link{
   text-decoration:none;
   position:relative;
}

.link:before{
   position:absolute;
   bottom: -10px;
   content: " ";
   border-bottom: 1px solid #ccc;
   transform: scale(0,1);
   width:100%;
   transition: transform 0.3s
}

.link:hover:before{
   transform: scale(1,1);
}



button{
	width: 155px;
	height: 35px;
	border: 0px;
}

.button button{
	background-color: #018ABE;
	color: #fff;
	font-size: 13px;
}


.logo{
	width: 60px;
}


.header{
	display: flex;
	flex: 0 0 100%;
	
	height: 600px;
	background-image: url("img/header/02.png");
	margin-top: 70px;
	
}


.text{
	font-family: "El Messiri";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	text-align: center;
}

.text:after{
	content: url(img/header/03.png);
	text-align: center;
	float: right;
	display: block;
	position: relative;
	bottom: 30px;
	right: 90px;
	
	
}

.text:before{
	content: url(img/header/03.png);
	text-align: center;
	float: left;
	display: block;
	position: relative;
	/* bottom: 30px; */
	padding-top: 3px;
	left: 120px;
	transform: rotateY(180deg);
	
}


.h1{
	font-family: "El Messiri";
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 140%;
	text-align: center;
	margin-top: 40px;
	
}

.text-box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 587px;
	margin: 0 auto;
	padding-top: 135px;
}


/* Review section */

.reviews .text:before{
	content: url(img/sessions/03.png);
	left: 50px;
	bottom: 10px;
	
}

.reviews .text:after {
	content: url(img/sessions/03.png);
	bottom: 60px;
	float: right;
	right:20px;
}

.img-box{
	display: flex;
	flex: 0 0 380px;
	height: 540px;
	background-image: url(img/sessions/01.png);
	border-radius: 20px;
	font-family: 'El Messiri';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
}

.block-img-content .img-box{
	height: 260px;
	margin-left: 25px;
	background-image: url(img/sessions/02.png);
	border-radius: 20px;
	
}

.block-img-content{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 810px;

}

.img-content{
	display: flex;
	flex-direction: row;
	align-items: space-around;
	justify-content: center;

}

.img-box-text{
	width: 300px;
	position: relative;
	top: 190px;
	left: 30px;
}

.img-box-text-1{
	position: relative;
	left: 30px;
	top: 455px;
}

/* Rewiows */
.slider-rewiows-item-center{
	width: 636px;
	height: 350px;
	background: #018ABE;
	border-radius: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.slider-rewiows-item{
	width: 500px;
	height: 276px;
	background: #018ABE;
	border-radius: 10px;
	opacity: 0.5;
}

.slider-rewiows-item-row{
	display: flex;
	align-items: center;
	max-width: 1736px;
	margin: 0 auto;
}

.slider-rewiows-item-row h3{
	margin-left: 60px;
	margin-top: 50px;
	font-family: 'proximanova_regular';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 140%; 
}

.rewiows-text{
	font-family: 'proximanova_regular';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	margin-left: 60px;
	margin-top: 20px;
	width: 450px;
}

.rewiows_2 .text:after {
	content: url(img/sessions/03.png);
	bottom: 60px;
	float: right;
	right: 140px;
}

.rewiows_2 .text:before{
	content: url(img/sessions/03.png);
	left: 170px;
	bottom: 7px;
	
}

.rewiows-text .br{
	height: 20px;
}

.slider-rewiows-item h3{
	margin-left: 35px;
	margin-top: 40px;
	font-size: 16px;
	
}

.slider-rewiows-item .rewiows-text{
	font-size: 10px;
	margin-left: 35px;
	max-width: 410px;
}

.dots-row{
	display: flex;
	margin: 60px auto;
	width: 125px;
	justify-content: space-between;
}

/* About RitmStyle */



.about-RitmStyle_inner-box_img-box img {
	width: 525px;
	height: 365px;
}

.about-RitmStyle h3{
	font-family: 'proximanova_regular';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 30px;
}

.about-RitmStyle p{
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
}

.about-RitmStyle_inner-box_text-box{
	width: 470px;
	
}

.about-RitmStyle_inner-box{
	display: flex;
	max-width: 1100px;
	justify-content: space-around;
	align-items: center;
}

.about-RitmStyle_inner-box:nth-child(2){
	margin-bottom: 100px;
}

#text-h3::after{
	content: url(img/sessions/03.png);
	bottom: 60px;
}

#text-h3::before{
	content: url(img/sessions/03.png);
	bottom: 8px;
}

.about-RitmStyle_inner-box {
	margin: 0 auto;
}

/* cost of service */

.about-RitmStyle_inner-box_ul-box li{
	display: flex;
	list-style: none; /* Убираем исходные маркеры */
	background: url(img/sessions/03.png) no-repeat 0 4px; /* Параметры фона */
	padding-left: 50px; /* Смещаем текст вправо */ 
   margin-bottom: 30px;
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
}

.about-RitmStyle_inner-box_ul-box li p{
	width:268px;
}

.about-RitmStyle_inner-box_ul-box li div {
	margin-left: 100px;
}
.about-RitmStyle_inner-box_ul-box li div p{
	width: auto;
}

.cost-of-service #text-h3::after {
	content: url(img/sessions/03.png);
	right: 45px;
}

.cost-of-service #text-h3::before {
	content: url(img/sessions/03.png);
	left: 75px;
}

.about-RitmStyle_inner-box_img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-RitmStyle_inner-box_img-box .text-under-picture{
	margin-top: 30px;
	font-family: 'El Messiri';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 140%;
}

/* Addres section */

.address-item_button-a {
	display: block;
	width: 155px;
	height: 35px;
	text-align: center;
	background-color: white;


}

.address-item_button-a p{
	color: #018ABE;
	padding-top: 8px;
	font-family: Proxima Nova;
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	vertical-align: center;

}

.addres-item{
	width: 390px;
	height: 290px;
	border: 0px;
	border-radius: 10px;
	background-color: #018ABE;
}

.addres-item_content{
	float: left;
	padding-left: 45px;
	padding-top: 35px;

}

.address-item_h3{
	font-family: 'El Messiri';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	
}

.address-item_description{
	display: flex;
	height: 150px;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 30px;
	font-weight: 400;


}

.address-item_addres:before{
	content: url(img/cost/03.svg);	
	padding-right: 20px;
	padding-left: 3px;
}

.address-item_addres{
	display: flex;
	align-items: center;
}

.address-item_island:before{
	content: url(img/cost/04.svg);
	padding-right: 18px;
	
}

.address-item_island{
	display: flex;
	align-items: center;

}

.address-item__record{
	display: flex;
	align-items: center;

}

.address-item__record:before{
	content: url(img/cost/05.svg);
	padding-right: 18px;

}


.address-item_button-a{
	font-family: "Proxima Nova";
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;

}


.address-menu{
	display: flex;
	flex-direction: column;
	max-height: 700px;
	justify-content: space-between;

}


.map-section{
	display: flex;
	flex-direction: row;
	max-width: 1300px;
	justify-content: space-between;
	margin: 0 auto;

}

.footer-text{
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
	height: 90px;
	align-items: center;

}
/* Fonts */

@font-face {
	font-family: 'proximanova_regular'; 
	src: url(fonts/proximanova_regular.ttf); 
}